@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&family=Work+Sans&display=swap');
body {
    font-family: 'Nunito', sans-serif;
}
/*--------------------------------------------- row------------------------------------------- */
#content-container {
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
#content-container > p {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}
#content-container > h2 {
  font-family: 'Prata';
    font-weight: 800;
    color: #1a2c79;
}
.custom-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary);
}

/* .section {
  padding: 70px 30px;
} */

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px 20px;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 350px));
  grid-gap: 15px 15px;
  justify-content: center;
  align-items: baseline;
}

.grid-row .grid-item span {
  padding: 10px;
  line-height: 1;
}

.grid-row .grid-item h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.grid-row .grid-item {
  transition: filter 0.5s ease;
  display: flex;
  cursor: pointer;
  color: var(--dark);
  text-align: center;
  font-family: sans-serif;
  flex-direction: column-reverse;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

/* Adjusting image size to less than 50% */
.grid-row .grid-item img {
  width: 100%;
  transition: 1s ease;
}
.grid-row .grid-item img:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s ease;
}
.grid-row .grid-item h3 {
  padding-top: 20px;
  color: #1a2c79;
  font-weight: 600;
}
/* Justify content of paragraphs */
.grid-row .grid-item p {
text-align:justify;
word-spacing: -2px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  padding-top: 20px;
}

