@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&family=Work+Sans&display=swap');
body {
  align-items: center;
  justify-content: center;
}
.sliderheading  {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0; /* Remove default margin to ensure full container utilization */
  /* Add any additional styles for your h2 element */
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}